# .gitignore file

# Jetbrains
.idea

# .env
.env.local

# MariaDB
# database data
mariadb/mysql-data


# PostgreSQL
# database data
postgres/postgres-data
# pgadmin data
postgres/pgadmin/pgadmin-data

# MongoDB
# database data
mongodb/mongodb-data